@media only screen and (min-width: 1280px) and (max-width: 1440px) {

    /* navbar-css-start */
   
    .navbar {
        max-width: 72rem;
    }
    
    /* navbar-css-end */
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .navbar {
        max-width: 64rem;
    }
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
    .navbar {
        max-width: 56rem;
    }
}