* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}

body {
    font-family: "Poppins", sans-serif;
    
    
}
a {
    text-decoration: none;
}
/* navbar-css-start */

nav {
    position: sticky;
    top: 0%;
    z-index: 100;
    box-shadow: 0 0.1px 0.5px black;
}

    
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px 10%;
    align-items: center;
    
    
}
.navbar ul li{
    display: inline-block;
    padding-right: 20px;
    font-weight: bold;
    color: #36c742;
}
.navbar ul .contact-btn {
    padding: 12px 30px;
    background-color: #fef3e6;
    color: #f58a07;
    border-radius: 50px;
}

/* navbar-css-end */


/* hero-section-css-start */

.hero-section {
    background-color: #dceaf5;
    max-width: 100vw;
    height: 700px;
    display: flex;
    padding: 0 10%;
    position: relative;
    color: #1d3444;
    
    
}
.hero-content {
    max-width: 50%;
    position: relative;
    top: 100px;
}
.hero-content h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 1;
    
}
.hero-content p {
    font-size: larger;
    padding: 20px 0;
    font-weight: 500;
    color: #785b5b;
}


/* hero img */
.hero-img img {
    width: 500px;
    position: absolute;
    right: 10%;
    bottom: 0%;
   
    
}
.link {
    margin: 40px 0 100px 0;
    
}

.link a:nth-child(1) {
    background-color: #f58a07;
    color: #fff;
    border-radius: 50px;
    padding: 25px 30px;
    margin-right: 30px;
}
.link a:nth-child(2) {
    background-color: #fff;
    color: black;
    border-radius: 50px;
    padding: 25px 30px;
    
}
.text {
    color: #afb8bb;
    margin-bottom: 20px;
    
    
}

.company img{
    width: 100px;
    margin-right: 20px;
}

/* hero-section-css-end */

/* secondsection-css-start */

#secondSection {
    height: 800px;
    padding: 0 10%; 
}
#secondSection h2 {
    max-width: 70%;
    font-size: 50px;
    line-height: 1.3;
    font-weight: 600;
    margin: 130px 0 40px 0;
}
#secondSection > p {
    max-width: 70%;
    font-weight: 500;
    
}

.card {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.card-img {
    width: 350px;
    border-radius: 20px;
}
.card1, .card2, .card3{
    max-width: 30%;
    
    
}
.card-content {
    padding: 0 10%;
}
.card-content h5 {
    font-size: 25px;
    font-weight: 500;
    padding-top: 20px;
}

.card-content p:nth-child(2) {
    font-size: 15px;
    font-weight: 500;
    color: #5c5b78;
    padding: 20px 0;
}
.card-link {
    display: flex;
    color: #f58a07;
    gap: 10px;
    font-weight: 500;
}

/* secondsection-css-css-end */

/* thirdsection-css-start */

#thirdSection {
    height: 800px;
    padding: 0 10%;
    background-color: #edf7ff;
}
.thirdSection-text {
    display: flex;
    padding: 150px 0 70px 0;
}
.thirdSection-text h2 {
    
    max-width: 50%;
    font-size: 35px;
    line-height: 1.2;
}
.thirdSection-text p {
    
    max-width: 50%;
    font-weight: 500;
    
}
.thirdSection-card-container {
    display: flex;
    justify-content: space-between;
}
.thirdSection-card {
    max-width: 30%;
    min-height: 300px;
    background-color: #fff;
    border-radius: 30px;
}
.thirdSection-card img {
    width: 70px;
    padding: 30px 0 0 30px;
}
.thirdSection-card h5 {
    font-size: 25px;
    padding: 15px 0 0 30px;
}
.thirdSection-card p {
    padding: 15px 0 0 30px;
    color: #5c5b78;
    font-weight: 500;
    max-width: 90%;
} 
/* thirdSection-css-end */

/* fourhSection-css-start */
.fourthSection {
    height: 900px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
.fourthSection-content {
    max-width: 50%;
    padding-top: 150px;
    
}
.fourthSection-content h2 {
    font-size: 55px;
    line-height: 1.1;
    
    
}
.fourthSection-content > p {
    color: #5c5b78;
    padding: 30px 0;
    
}
.fourthSection-card-container {
    display: flex;
    gap: 20px;
    
}
.fourthSection-card {
    max-width: 40%;
}
.fourthSection-card h4 {
    color: #f58a07;
    font-size: 30px;
    
}
.fourthSection-card h5 {
    font-size: 25px;
    padding: 20px 0;
    
    
}


.fourthSection-card p {
    color: #5c5b78;
    max-width: 90%;
}

.fourthSection-img {
    padding-top: 150px;
}
.fourthSection-img img:nth-child(1) {
    width: 500px;
    border-radius: 20px;
    
}
.fourthSection-img img:nth-child(2) {
    position: absolute;
    right: 7%;
    top: 13%;
}

/* fourthSection-css-end */

/* fifthSection-css-start */

.fifthSection {
    height: 900px;   
}
.fifthSection-container {
    height: 850px;
    background-color: #edf7ff;
    border-radius: 25px;
    margin: 0 8%;
}
.fifthSection-btn {
    display: flex;
    padding: 40px 0 0 60px;
    gap: 20px;
}
.fifthSection-btn a {
    padding: 6px 20px;
    border: 1px solid #bebbcc;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 500;
    color: #bebbcc;
}
.fifthSection-btn a:nth-child(1) {
    background-color: #fff;
    border: none;
    color: #f58a07;
}
.fifthSection-content {
    display: flex;
    padding: 0 60px;
    gap: 20px;
}
.fifthSection-text {
    max-width: 40%;
    padding-top: 150px;
}
.fifthSection-text h2 {
    font-size: 50px;
    line-height: 1;
}
.fifthSection-text > p {
    padding-top: 30px;
    color: #5c5b78;
}

.fifthSection-link {
    display: flex;
    padding-top: 30px;
    gap: 10px;
}
.fifthSection-link p {
    color: #f58a07;
    font-size: 16px;
    font-weight: 500;

}
.fifthSection-img img{
    width: 600px;
    padding-top: 130px;
}
/* fifthSection-css-end */

/* sisthSection-css-start */

.sixthSection {
    height: 350px;
    background-color: #f58a07;
    display: flex;
    max-width: 100vw;
}
.sixthSection img {
    width: 50%;
}
.sixthSection-content {
    padding: 5%;
}
.sixthSection-content h4 {
    font-size: 50px;
    line-height: 1;
    color: #fff;
    margin-bottom: 40px;
}

.sixthSection-content  a {
   padding: 15px 25px;
   background-color: #fff;
   color: #f58a07;
   border-radius: 25px;
   font-weight: 600;
   
   
}
/* sisthSection-css-end */

/* seventhSection-css-start */

.seventhSection {
    height: 700px;
    display: flex;
    padding: 0 10%;
    align-items: center;
    
    justify-content: space-between;
    

}
.seventhSection-content {
    width: 50%;
    margin-left: 30px;
}

.seventhSection-content h2 {
    font-size: 50px;
    line-height: 1;
}
.seventhSection-content p {
    padding: 30px 0;
}
.testimony {
    display: flex;
    gap: 20px;
    align-items: center;
}
.testimony-text h5 {
    color: #f58a07;
}

.seventhSection-img img {

    width: 500px;
}

/* seventh-css-end */

/* footer-css-start */

footer {
    height: 550px;
    background-color: #063255;
    padding: 0 10%;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;

}
.footer-container>* {
    
    width: 32%;
}
.social h3 {
    font-size: 35px;
    color: #fff;
    font-weight: 600;
    padding: 30px 0;
    
}
.social-media {
    display: flex;
    gap: 20px;
}

.footer-info {
    display: flex;
    color: #fff;
    font-size: 20px;
    justify-content: space-around;
}

.about a {
    display: block;
    color: #ccd5dc;
    font-size: 15px;
    padding-top: 10px;
    
}
.about-link {
    padding-top: 30px;
}
.connect a {
    display: block;
    color: #ccd5dc;
    font-size: 15px;
    padding-top: 10px;
    
}
.connect-link {
    padding-top: 30px;
}
.newsletter {
    color: #fff;
    font-size: 20px;
    
}
.newsletter input {
    display: block;
    margin: 40px 0;
    padding: 16px 150px 16px 20px; 
    border: none;
    border-radius: 25px;
    font-size: 16px;
    
}
.newsletter a {
    color: #fff;
    padding: 10px 30px;
    background-color: #f58a07;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
}
.policy {
    display: flex;
    color: #fff;
    font-size: 20px;
    justify-content: space-between;
    padding-top: 40px;
}
.policy-link {
    display: flex;
    font-size: 12px;
    gap: 20px;
}
.policy-link a{
    color: #ccd5dc;
}

/* footer-css-end */


